version: "3"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: always
    dns:
      - "127.0.0.1"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8080:80/tcp"
    environment:
      ServerIP: '10.0.0.11'
      VIRTUAL_HOST: 'pi.hole'
      DNSMASQ_LISTENING: 'ALL'
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
      - './dev/nul:/var/log/pihole.log'
